#startButon{
    margin-bottom: 30px;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 800px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.question {
    margin: 20px 0;
}

#timer {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: red; /* Timer color */
}

button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#completionMessage {
    margin-top: 20px;
}
